@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
	margin: 0;
	padding: 0;
}
body {
	background-color: gray;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}
.header {
	padding: 20px 100px;
	background-color: black;
	font-weight: 600;
	color: white;
}
main {
	margin: 50px 20px;
	width: 60%;
	float: left;
}
aside {
	width: 20%;
	margin-top: 50px;

	float: left;
}
main .user {
	margin-bottom: 10px;
	background-color: white;
	padding: 20px;
}
.menu,
.li {
	list-style: none;
}
.menu > li > .user {
	background: white;
	color: #11304e;

	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
}

.menu ul {
	background: #ddd;
	height: 0;
	left: 0;
	opacity: 0;
	list-style: none;
	transition: all 0.5s ease;
	top: 35px;
	width: 100%;
}

.menu li:hover ul {
	height: 200px;
	opacity: 1;
	transform: translateY(0);
	list-style: none;
}

.menu ul > .user {
	text-decoration: none;
	color: #000;
	display: block;
	padding: 5px 20px;
}
main .delete-icon {
	float: right;
	color: #134b57;
	cursor: pointer;
	transform: scale(2);
}
main .edit-icon {
	float: right;
	margin-right: 25px;
	color: #165664;
	cursor: pointer;
	transform: scale(2);
}
main .delete-icon:hover,
main .edit-icon:hover {
	opacity: 0.5;
}
main.user.p {
	font-size: 18px;
	line-height: 23.4px;
}
.main_li_user .user input {
	width: 24px;
	height: 24px;
}
.user {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.user.done,
.nesting.done {
	background-color: #b8d9fce8; /* Синий фон */
	color: rgb(96, 105, 169);
}

.nesting_ul .user .span_and_p .material-symbols-outlined {
	opacity: 0;
}
.nesting .user .input {
	width: 18px;
	height: 18px;
}
.span_and_p {
	display: flex;
	align-items: center;
}
.menu:hover .material-symbols-outlined {
	transform: rotate(90deg);
	transition: transform 0.5s ease;
}
.container_cases_on_top {
	display: flex;
	flex-wrap: wrap;
}
.item_cases_on_top {
	cursor: pointer;
	margin-bottom: 0.5em;
	margin-right: 0.5em;
	display: flex;
	background-color: #222;
	border-radius: 30px;
	color: rgb(88, 86, 86);
	justify-content: center;
	text-wrap: wrap;
	text-align: center;
	padding: 2px;
	align-items: center;
	min-width: 30%;
	padding: 5px;
}
.item_cases_on_top:hover {
	transform: scale(1.1);
}
form input:not([type='checkbox']),
form textarea,
form button {
	width: 90%;
	padding: 15px 5%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	margin-bottom: 10px;
	border: 0;
	background-color: #222;
	color: #fff;
	outline: none;
	font-size: 15px;
}
form input[type='checkbox'] {
	margin: 10px;
}
form button {
	width: 100%;
	cursor: pointer;
	transition: transform 500ms ease;
}
form button:hover {
	transform: scale(1.1);
}
.user form {
	margin-top: 20px;
}
.user form input,
.user form textarea,
.user form button {
	background: #134b57;
}
.user form button:hover {
	transform: scale(1.04);
}
.container_case_textCase {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.container_users {
	display: block;
	width: 100%;
	color: #11304e;
	font-size: 15px;
	font-weight: 500;
}
.textCase {
	background-color: #dce0e1;
	width: 100%;
	font-size: 18px;
	line-height: 23.4px;
}
